Repository edgelaboratories/calendar, pull requests merged in 2022-06, with the labels that each got.

#21 build(ci): set up semgrep
  .github/workflows/semgrep.yml
Labels: github_actions

#23 ci(deps): configure renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/renovate.yml
Labels: dependencies, github_actions, go

#24 Improve performance of businessCalendar's add()
  .golangci.yml
  business_calendar.go
  business_calendar_test.go
Labels: :rocket: enhancement
